<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Slab:wght@400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/{{ project }}/style.css">
    <script src="/{{ project }}/index.js" defer></script>
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ description }}">
</head>

<body>
    {{ content }}
</body>

</html>